h1 {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    background-color: rgb(83, 56, 182);
    text-align: center;
    color: #cfd6e3;
}
h2 {
    text-align: center;
    text-decoration: underline;
    color: #DE354C;
}
body {
    font-size: 16px;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
p {
    line-height: 1.5;
}
h2, h3 {
    font-weight: bold;
}
a:hover {
    color: purple;
}
footer {
    background-color: rgb(67, 64, 68);
    color: mintcream;
}
button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.graphs {
    background-color: rgb(83, 56, 182);
    color: white;
}
.paragraph {
    background-color: rgb(221, 192, 30);
}